* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.hero-img {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
/* ===============================
            Navbar
================================ */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
  z-index: 100;
}

.navbar .logo img {
  width: 30vw;
}
.navbar .nav-links {
  display: none;
}

.navbar .nav-buttons {
  display: none;
}

.hamburger {
  display: block;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 2rem;
  z-index: 1000;
  transition: right 0.3s ease;
}

.sidebar.active {
  right: 0;
}

.sidebar a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  transition: all 0.3s;
}
.sidebar a:hover {
  color: #ec6408;
}
.sidebar button {
  border: none;
  border-radius: 10px;
  width: 80px;
  height: 40px;
  cursor: pointer;
  margin: 0 auto;
}

.btn-primary {
  color: #333;
}
.btn-primary:hover {
  background-color: #ec6408;
  color: white;
}

.btn-secondary {
  background-color: #ec6408;
  color: white;
}
.btn-secondary:hover {
  background-color: #ffffff;
  color: #ec6408;
}
.text-div {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.text-center {
  font-weight: 700;
  font-size: clamp(0.5em, 1.1em, 2.5em);
  color: white;
}

.hero-text-p {
  width: 100vw;
  max-width: 350px;
}

.p-text {
  font-size: 0.7rem;
  text-align: center;
  color: #fafafa;
}

/* ===============================
   SEARCH BAR (HERO SECTION)
================================ */
.search-wrapper {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 900px;
  z-index: 6;
}

.search-bar {
  background: #ffffff;
  border-radius: 999px;
  padding: 3px 0;
  display: flex;
  gap: 10px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.search-field {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.8rem 1rem;
  border-radius: 999px;
}

.search-field input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 9px;
  background: transparent;
  color: #333;
  width: 100%;
}

.search-field input::placeholder {
  color: #999;
}

.search-field .icon {
  font-size: 15px;
  color: #ec6408;
}

.search-field .arrow {
  font-size: 10px;
  color: #999;
  padding-left: 1rem;
}

.divider {
  display: none;
}

.search-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: #ec6408;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  align-self: center;
  margin-right: 0.5rem;
  transition: 0.3s ease;
}

.search-btn:hover {
  background-color: #d35606;
}

/* Section Two (Discover Section)  */
.discover-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3rem auto;
}

.discover-section p {
  color: #000000a4;
  font-size: 0.8rem;
}
.discover-section h2 {
  font-size: 1.2rem;
}
.spans {
  margin-top: 2.5rem;
}
.span {
  border: 1px solid #ccc;
  color: #8d8c8c;
  border-radius: 20px;
  padding: 0.5rem 0.8rem;
  margin-top: 20px;
  margin-right: 0.3rem;
  transition: all 0.4s;
  font-size: 0.7rem;
}

.span:hover {
  background-color: #ec6408;
  color: white;
}

.spaan {
  border: 1px solid #ccc;
  padding: 0.5rem 0.8rem;
  color: white;
  margin-right: 0.3rem;
  background-color: #ec6408;
  border-radius: 20px;
  font-size: 0.7rem;
}
/* Cards */
.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
}
.card {
  position: relative;
  border: none;
  transition: bottom 0.3s ease;
}

.card:hover {
  bottom: 1rem;
}

.text-icon-rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.text-icon-rating p {
  font-weight: 700;
  display: flex;
  text-align: end;
  margin-top: 0.5rem;
}
.text-icon-rating img {
  width: 1.5vw;
  height: auto;
}

hr {
  position: relative;
  bottom: 14px;
  width: 21vw;
}
.card p {
  width: 22vw;
  min-width: 300px;
  font-size: 0.73em;
  color: #333;
  flex: 1;
}
.card .read {
  color: #ec6408;
  font-weight: 700;
}

.card .card-body {
  position: relative;
  top: -15px;
}

.card .card-text {
  margin-top: -18px;
}
.text-icon-rating .fa-star {
  color: #ec6408;
  font-size: 1.1rem;
  margin-left: -88px;
}

.rate {
  color: black !important;
  font-weight: 600;
}

/* Back and Next page (Buttons)  */
.back-next {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  transition: all 0.3s;
}
.back-next button {
  border: 1px solid #ccc;
  background-color: white;
  color: #00000077;
  width: 17vw;
  height: 4vh;
  font-size: 0.7rem;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.back-next button:hover {
  background-color: #ec6408;
  color: white;
}

.back-next span {
  border: 1px solid #ccc;
  color: #8d8c8c;
  border-radius: 50%;
  margin: 0 0.3rem;
  padding: 0.4rem;
  transition: all 0.3s ease;
}

.back-next span:hover {
  background-color: #ec6408;
  color: white;
}

/* Travel Smarter Section  */
.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.texxt-div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 4rem auto;
}

.texxt-div h2 {
  font-size: 1.5rem;
}

.texxt-div p {
  font-size: 0.9rem;
}

.number-div {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  gap: 1rem;
}

.cardf {
  border: 1px solid #ccc;
  border-radius: 15px;
  margin: 0 1rem;
  padding: 2rem;
  min-height: 180px;
  display: flex;
}
.cardd-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cardf h5 {
  margin: 0.5rem 0;
}
.number-div span {
  border: 1px solid #ccc;
  border-radius: 50%;
  color: #fe9e2b;
  background-color: white;
  width: 35px;
  height: 35px;
  text-align: center;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* What Travels Section  */
.what-text-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 4rem;
}

.what-section .what-text-section h1 {
  font-size: 1.5rem;
}
.what-section .what-text-section p {
  font-size: 0.8rem;
}
.obinion {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 5rem auto;
}

.obinion .card .text-icon-rating img {
  width: 10vw;
  height: auto;
}

.text-icon-rating .names {
  display: flex;
  flex-direction: column;
}

.names .card-title {
  font-size: clamp(0.5em, 1em, 2.5em);
  font-weight: 700;
}

.names .title {
  color: #8d8c8c;
}
.names p {
  margin: 2px 0;
  line-height: 1;
}

.text-icon-rating img {
  width: 1.5vw;
  height: auto;
}

.card p {
  width: 15vw;
  min-width: 300px;
  font-size: 0.73em;
  color: #333;
  flex: 1;
}

.card .card-body {
  position: relative;
  top: -15px;
}

.card .card-text {
  margin-top: -18px;
  color: #8d8c8c;
}
.text-icon-rating .fa-star {
  color: #ec6408;
  font-size: 1.1rem;
  margin-left: -120px;
}

hr {
  width: 60%;
  margin-top: 1.5rem;
}
.rate {
  color: black !important;
  font-weight: 600;
}
/* Ask section  */
.frq {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.frq h2 {
  font-size: 1.5rem;
}

.frq p {
  font-size: 0.8rem;
  text-align: center;
}
.summary-one {
  width: 90vw;
  font-family: "Poppins", sans-serif;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 20px 15px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  margin: 2rem auto;
}

.summary-one summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  color: #333;
  list-style: none;
}

.summary-one summary::-webkit-details-marker {
  display: none;
}

.summary-one .icon-box {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.summary-one i {
  transition: transform 0.3s ease;
  color: #ec6408;
  font-size: 1rem;
}

.summary-one details[open] i {
  transform: rotate(45deg);
}

.summary-one p {
  margin-top: 1rem;
  line-height: 1.5;
  color: #555;
  font-size: 0.8rem;
  padding-right: 25px;
}

/* Footer  */
.footer {
  width: 100%;
  background-color: #fff;
  padding: 10px 10px;
}

.top-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.logo-footer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo-footer img {
  width: 30px;
  height: 30px;
}

.footer ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.footer ul li {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
}

.footer ul li:hover {
  color: #ec6408;
}

.logo-footer p {
  font-weight: 700;
  font-size: clamp(0.5rem, 1.5rem, 2.5rem);
  margin: 0;
}

.footer button {
  border: 1px solid #ccc;
  background-color: white;
  padding: 10px 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 0.8rem;
}

.footer button:hover {
  background-color: #ec6408;
  color: #fff;
}

.footer button i {
  color: #ec6408;
  margin-left: 2px;
}

.footer button:hover i {
  color: #fff;
}

.footer hr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  width: 95vw;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
}
.footer-bottom .footer-dash {
  text-align: center;
}
.footer-bottom .footer-dash span {
  margin: 0 0.3rem;
  font-size: 0.8rem;
}
.span-wrapper {
  display: flex;
  align-items: center;
}

.v-line {
  width: 2px;
  height: 16px;
  background: rgba(128, 128, 128, 0.781);
  border-radius: 10px;
}

.footer-bottom .footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-bottom .footer-icons i {
  color: #ec6408;
  margin: 0 0.5rem;
}

.card {
  position: relative;
  border: none;
  transition: all 0.4s ease;
  transform: translateY(0);
}

.card:hover {
  transform: translateY(-10px);
}

.container .cardf {
  position: relative;
  transition: all 0.4s ease;
  transform: translateY(0);
}

.container .cardf:hover {
  transform: translateY(-10px);
}

/* ===============================
             TABLET
================================ */
@media (min-width: 768px) {
  /* ===============================
            Navbar
================================ */
  .navbar {
    margin: 0 2rem;
  }
  .navbar .nav-links {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex: 1;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .navbar .nav-links li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    transition: color 0.3s;
  }

  .navbar .nav-links li a:hover {
    color: #ec6408;
  }

  .navbar .nav-buttons {
    display: flex;
    gap: 1rem;
  }

  .hamburger {
    display: none;
  }
  .navbar .logo img {
    width: 15vw;
  }
  .sidebar {
    display: none;
  }
  .navbar .nav-buttons .btn-primary {
    background-color: #ec6408;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
    font-weight: 600;
    cursor: pointer;
    font-size: 0.8rem;
  }

  .navbar .nav-buttons .btn-secondary {
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
    font-weight: 600;
    cursor: pointer;
    font-size: 0.8rem;
  }

  .navbar .nav-buttons .btn-secondary:hover {
    background-color: #ec6408;
    color: #fff;
  }

  /* ===============================
   SEARCH BAR (HERO SECTION)
================================ */
  .search-wrapper {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    max-width: 700px;
  }

  .search-field {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0.8rem 1rem;
    border-radius: 999px;
  }

  .search-field input {
    font-size: 0.7rem;
    width: 100%;
  }

  .text-div h1 {
    font-size: 1.9rem;
  }

  .hero-text-p {
    max-width: 600px;
  }

  .hero-text-p p {
    font-size: 1.2rem;
  }

  /* Section Two (Discover Section)  */
  .discover-section div {
    margin: 2rem 0;
  }
  .discover-section h2 {
    font-size: 1.4rem;
  }
  .discover-section p {
    font-size: 0.9rem;
  }

  .span {
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    margin-right: 0.8rem;
  }
  .spaan {
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    margin-right: 0.8rem;
  }

  /* Cards */
  .cards {
    width: 90%;
    gap: 2rem;
  }

  .cards .card {
    width: 45% !important;
  }

  /* Back and Next page (Buttons)  */
  .back-next button {
    font-size: 1rem;
  }

  .back-next span {
    padding: 0.8rem;
  }
  .container {
    flex-direction: column;
    justify-content: center;
  }
  /* Travel Smarter Section  */
  .cardf {
    width: 50%;
    padding: 1rem;
    min-height: 100px;
    margin: 0 auto;
  }
  /* What Travels Section  */
  .obinion {
    width: 90%;
  }

  .obinion .card {
    width: 45% !important;
  }
  .card-body .card-text {
    font-size: 1rem;
  }
  /* Footer  */
  .footer ul {
    flex-direction: row;
  }

  .top-footer {
    flex-direction: row;
    padding: 0 1rem;
  }
  .footer ul li {
    font-size: 1rem;
  }

  .footer-bottom .footer-dash span {
    font-size: 1.1rem;
  }
  .footer-icons {
    font-size: 1.5rem;
  }
}

/* ===============================
             DESKTOP 
================================ */
@media (min-width: 1200px) {
  /* ===============================
            Navbar
================================ */
  .navbar {
    margin: 0 4rem;
  }
  .navbar .nav-links {
    display: flex;
    gap: 3rem;
    justify-content: center;
    flex: 1;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .navbar .nav-links li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 0.2rem;
    transition: color 0.3s;
  }

  .navbar .nav-links li a:hover {
    color: #ec6408;
  }

  .navbar .nav-buttons {
    display: flex;
    gap: 1rem;
  }

  .hamburger {
    display: none;
  }
  .navbar .logo img {
    width: 10vw;
  }
  .sidebar {
    display: none;
  }
  .navbar .nav-buttons .btn-secondary {
    background-color: #ec6408;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    transition: all 0.3s;
    font-weight: 600;
    cursor: pointer;
    font-size: 0.9rem;
  }

  .navbar .nav-buttons .btn-primary {
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    transition: all 0.3s;
    font-weight: 600;
    cursor: pointer;
    font-size: 0.9rem;
  }

  .navbar .nav-buttons .btn-primary:hover {
    background-color: #ec6408;
    color: #f8f7f6;
  }
  .navbar .nav-buttons .btn-secondary:hover {
    background-color: #ffffff;
    color: #ec6408;
  }

  /* ===============================
   SEARCH BAR (HERO SECTION)
================================ */
  .search-wrapper {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 920px;
  }

  .search-field {
    display: flex;
    align-items: center;
    flex: 2;
  }

  .search-field input {
    flex: 1;
    min-width: 0;
    font-size: 1rem;
  }

  .search-field .arrow {
    font-size: 0.8rem;
    padding-left: 5rem;
  }
  .search-field .icon {
    font-size: 1.5rem;
  }

  .search-btn {
    width: 40px;
    height: 40px;
    font-size: 1rem;
  }
  .text-div h1 {
    font-size: 3rem;
  }

  .hero-text-p {
    max-width: 1100px;
  }
  /* Section Two (Discover Section)  */
  .discover-section h2 {
    font-size: 1.9rem;
  }
  .discover-section p {
    font-size: 1rem;
  }

  .span {
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    margin-right: 0.8rem;
  }
  .spaan {
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    margin-right: 1.1rem;
  }
  /* Cards */
  .cards {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .cards .card {
    flex: 0 0 calc(33.333% - 2rem);
    max-width: calc(33.333% - 2rem);
  }
  /* Back and Next page (Buttons)  */
  .back-next button {
    font-size: 1rem;
    width: 7vw;
    height: 4.2vh;
  }

  .back-next span {
    padding: 0.9rem;
  }
  /* Travel Smarter Section  */
  .container {
    flex-direction: row;
    justify-content: center;
  }

  .cardf {
    width: 40%;
    padding: 1.3rem;
    min-height: 100px;
    margin: 0 auto;
  }
  .texxt-div {
    margin: 2.9rem auto;
  }
  /* What Travels Section  */
  .what-text-section {
    margin: 4rem 0;
  }

  .what-section .what-text-section h1 {
    font-size: 1.9rem !important;
  }
  .what-section .what-text-section p {
    font-size: 1.1rem !important;
  }
  .travel-section .texxt-div h2 {
    font-size: 2rem;
  }
  .travel-section .texxt-div p {
    font-size: 1.4rem;
  }

  .obinion {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .obinion .card {
    flex: 0 0 calc(33.333% - 2rem);
    max-width: calc(33.333% - 2rem);
  }
  hr {
    width: 100%;
    margin-top: 1.5rem;
  }
  .text-icon-rating .fa-star {
    margin-left: -170px;
  }
  .card-body .card-text {
    font-size: 0.8rem;
  }
  /* Ask section  */
  .frq {
    margin: 2rem 0;
  }
  .frq h2 {
    font-size: 1.8rem;
  }
  .frq p {
    margin-top: 0.1rem;
    font-size: 1rem;
    text-align: center;
  }
  .summary-one {
    width: 60vw;
  }
  /* Footer  */
  .footer ul {
    flex-direction: row;
    gap: 2rem;
  }

  .top-footer {
    flex-direction: row;
    padding: 0 4rem;
  }
  .footer hr {
    width: 90vw;
    margin-top: 3rem;
  }
  .footer ul li {
    font-size: 1rem;
  }
  .footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 3.5rem;
  }
  .footer-bottom .footer-icons i {
    color: #ec6408;
    margin: 0 0.4rem;
    font-size: 1.5rem;
  }
}
